#error{
    background: linear-gradient(89deg, rgb(184, 44, 202) 0%, rgb(182, 228, 56) 100%);
    /* display: flex;
    justify-content: flex-end; */
    margin: 5px ;
    padding: 0px;
    
    
}
/* 
.nav{
    background: red; 

} */